.wk-container-home {
  max-width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(6, 9, 32, 1);
}
.wk-task-container {
  padding: 80px 0;
}
.wk-home {
  background-color: rgba(6, 9, 32, 1); 
  width: 1140px;
}
.wk-banner-top {
  width: auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(6, 9, 32, 1);
  padding-bottom: 60px; 
}
.wk-logo-top {
  flex: 1; 
}

.wk-menu-list {
  flex: 1; /* Để menu-list chiếm hết không gian trống */
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.wk-menu-item {
  padding: 10px;
  margin-right: 10px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
.wk-img-container {
  width: 520px; /* Chiều rộng của khung chứa ảnh */
  height: 325px; /* Chiều cao của khung chứa ảnh */
  overflow: hidden; /* Ẩn phần thừa của ảnh */
  position: relative;
}
.wk-task-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cắt ảnh để phù hợp với khung chứa */
  object-position: top; /* Đặt vị trí của ảnh ở giữa */
}
.wk-menu-item:hover {
  text-decoration: underline;
}
/* .wk-banner-left{
  width: auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(6, 9, 32, 1);
} */
.wk-home-header img {
  height: auto;
  max-height: 40px;
}

h1 {
  color: white;
}

.wk-banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100%;
  padding: 0 0 80px ;
}

.wk-banner-left, .wk-banner-right {
  flex: 1;
}

.wk-banner-left {
  flex: 0 0 auto;
  width: 40%; 
  height: 400px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  line-height: 65px;
}
.wk-banner-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 554px;
  height: auto;
  flex-direction: column;
}
.wk-banner-left h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
.wk-banner-left p {
  font-size: 16px;
  color: #666;
  line-height: 25px;
  color: #FFFFFF;
}
.wk-left-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.wk-con-us {
  font-size: 20px;
  padding: 15px 24px;
  height: 56px;
  color: #FFFFFF;
  border: solid 2px transparent;
  border-radius: 16px;
  max-width: 400px;
  background:
      linear-gradient( rgba(22, 26, 66, 1), rgba(22, 26, 66, 1)) padding-box,
      linear-gradient(90deg, #1FA2FF, #12D8FA, #A6FFCB ) border-box;
}

.wk-watch-vd {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  text-decoration: none;
  color: #FFFFFF;
}

.wk-icon-container {
display: inline-flex;
align-items: center;
justify-content: center;
margin-right: 10px;
width: 48px;
height: 48px;
border: solid 2px transparent;
border-radius: 50%;
background:
    linear-gradient( rgba(22, 26, 66, 1), rgba(22, 26, 66, 0)) padding-box,
    linear-gradient(45deg, rgba(33, 37, 84, 1), rgba(81, 90, 180, 0)) border-box; 

}
.wk-icon-play {
width: 20px;
height: 20px;
}
.wk-communiti-1 {
padding: 80px 0;
width: auto;
}
.wk-com1-content {
text-align: center;
}
.wk-com1-content h1{
  text-align: center;
  font-size: 48px;
  line-height: 62px;
  background: linear-gradient(90deg, #1FA2FF 0%, #12D8FA 50%, #A6FFCB 100%);
  -webkit-background-clip: text; /* Cho phép nền gradient hiển thị xuyên qua văn bản */
  -webkit-text-fill-color: transparent; /* Ẩn màu chữ để hiển thị gradient */
  margin-bottom: 20px; /* Khoảng cách dưới cùng */
}

.wk-com1-list {
  display: flex;
  justify-content: center; /* Căn giữa danh sách */
  gap: 20px; /* Khoảng cách giữa các mục */
  padding: 50px 0;
  margin: 0;
}

.wk-com1-item {
  color: #FFFFFF;
  text-align: center; /* Căn giữa nội dung của từng item */
  flex: 1; /* Để các item có chiều rộng bằng nhau */
  padding: 20px; /* Khoảng cách bên trong mỗi item */
  position: relative; /* Để phần tử ::after có thể được áp dụng */
}

.wk-com1-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px; 
  bottom: 0;
  width: 4px;
  background: linear-gradient(90deg, #1FA2FF 0%, #12D8FA 50%, #A6FFCB 100%);
}
.wk-com1-num {
  font-size: 50px;
  line-height: 65px;
}
.wk-com1-title {
  font-size: 16px;
  line-height: 20px;
  align-items: center;
}
.wk-com1-btn {
  display: inline-block;
  width: 220px;
  height: 56px;
  font-size: 20px;
  line-height: 26px;
  padding: 10px 24px;
  height: auto;
  gap: 10px;
  color: #FFFFFF;
  border: solid 2px transparent;
  border-radius: 12px;
  background:
    linear-gradient( rgba(22, 26, 66, 1), rgba(22, 26, 66, 1)) padding-box,
    linear-gradient(90deg, #1FA2FF, #12D8FA, #A6FFCB ) border-box;
}

.wk-con-btn-bot {
  display: flex;
}

.wk-about-container {
  padding: 80px 0;
  background-color: rgba(6, 9, 32, 1);
  display: flex; 
  gap: 20px; 
}
.wk-about-left, .wk-about-right {
  flex: 1; 
}

.wk-about-left {
  padding: 20px 20px 20px 0;
  gap: 40px;
  width: 36.3%;
  height: 37%;
}

.wk-about-right {
  padding: 20px;
}

.wk-about-left h1 {
  line-height: 62px;
  font-size: 48px; 
  margin-bottom: 20px; 
  background: linear-gradient(90deg, #1FA2FF 0%, #12D8FA 50%, #A6FFCB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.wk-about-left p {
  color: rgba(255, 255, 255, 1);
  ;
  font-size: 1em; 
  margin-bottom: 20px; 
}
.wk-about-left p:first-of-type {
  padding-bottom: 24px;
}
.wk-about-left p:last-of-type {
  padding-bottom: 40px;
}
.wk-about-left .wk-about-btn {
  display: flex;
  align-items: center;
  text-align: center;
  width: 168px;
  height: 56px;
  font-size: 20px;
  line-height: 26px;
  height: 56px;
  gap: 10px;
  color: #FFFFFF;
  padding: 10px 24px;
  border: solid 2px transparent;
  border-radius: 12px;
  background:
    linear-gradient( rgba(22, 26, 66, 1), rgba(22, 26, 66, 1)) padding-box,
    linear-gradient(90deg, #1FA2FF, #12D8FA, #A6FFCB ) border-box;
}
.wk-task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(6, 9, 32, 1);
}

.wk-task-header {
  text-align: center;
}
.wk-task-title {
  font-size: 48px;
  line-height: 62px;
  margin: 0 auto;
  width: 100%;
  height: 124px;
  background: linear-gradient(90deg, #1FA2FF 0%, #12D8FA 50%, #A6FFCB 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
}
.wk-task-des {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  height: 21px;
}
.wk-task-top {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.wk-task-bot {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 100px;
}
.wk-task-info{
  padding-top: 24px;
}
.wk-task-info h1 {
  font-size: 24px;
  line-height: 31px;
  width: 200px;
}

.wk-task-info p {
  font-size: 16px;
  line-height: 20px;
  width: 360px;
  color: rgba(255, 255, 255, 1);
}
.wk-task-item .wk-task-img{
  border-radius: 12px;
  background: 
    linear-gradient(rgba(22, 26, 66, 1), rgba(22, 26, 66, 1)) padding-box,
    linear-gradient(90deg, #1FA2FF, #12D8FA, #A6FFCB) border-box;
  border: 4px solid transparent; 
}
.wk-intro-container {
  background-color: rgba(6, 9, 32, 1);
  justify-content: center;
  align-items: center;
}

.wk-intro-title {
  padding: 80px 0;
  text-align: center;
  font-size: 48px;
  line-height: 62px;
  background: linear-gradient(90deg, #1FA2FF 0%, #12D8FA 50%, #A6FFCB 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;

}
.wk-intro-list-top {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  align-items: left;
  gap: 50px;
}
.wk-four-step {
  display: flex;
}
.wk-intro-img {
  flex: 1;
}
.wk-intro-item {
  display: flex;
}
.wk-intro-item img {
  padding-right: 10px;
}
.wk-intro-des h1 {
  font-size: 16px;
  line-height: 31px;
  max-width: 400px;
  height: auto;
  background: linear-gradient(90deg, #1FA2FF 0%, #12D8FA 50%, #A6FFCB 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}
.wk-intro-des p {
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  line-height: normal;
  width: auto;
  height: auto;
}
.wk-communiti-2 {
  background-color: rgba(6, 9, 32, 1);
  padding: 80px 0;
}
.wk-communiti-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wk-com2-content {
  display: flex;
  text-align: center;
  width: auto;
  height: auto;
  justify-content: left;
  padding: 0 60px;
  border-radius: 32px;
  background: linear-gradient(90deg, rgba(36, 39, 73, 1),rgba(19, 22, 51, 1));
}

.wk-com2-right {
  padding: 40px 20px 0 0; 
}
.wk-com2-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wk-com2-left h1{
  text-align: left;
  font-size: 48px;
  line-height: 62px;
  width: 500px;
  height: 62px;
  background: linear-gradient(90deg, #1FA2FF 0%, #12D8FA 50%, #A6FFCB 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}
.wk-com2-left p {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 20px;
  width: 600px;
  height: 90px;
  text-align: left;
}
.wk-footer-container {
  background-color: rgba(6, 9, 32, 1);
  display: flex;
  padding-top: 80px;
  padding-bottom: 60px;
}
.wk-footer-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: auto;
}
.wk-footer-left h1 {
  font-size: 28px;
  line-height: 36px;
  max-width: auto;
  padding: 20px 0 ;
}
.wk-footer-right {
  flex: 2;
  padding-top: 70px;
}
.wk-footer-contact {
  display: flex;
  gap: 5px;
}

.wk-footer-contact img {
  margin: 0 10px;
}
.wk-com-infor h1 {
  font-size: 24px;
  line-height: 32px;
  height: auto;
  padding-bottom: 20px;
}
.wk-com-infor p {
  color: rgba(255, 255, 255, 1);
  width: 550px;
  padding-top: 10px;
}

.wk-footer-right {
  display: flex;  
}
.wk-quick-link {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
.wk-quick-link h1 {
  font-size: 24px;
  line-height: 32px;
  height: 31px;
}
.wk-quick-link a {
  color: rgba(255, 255, 255, 1);
  width: 120px;
  height: 20px;
  padding-top: 40px;
  font-size: 16px;
}

.wk-copyright {
  text-align: center;
  background-color: rgba(6, 9, 32, 1);
  padding: 20px 0;
}
.wk-copyright p {
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
}
.wk-weather {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.wk-wea-container {
  display: flex;
  flex-direction: row;
  padding: 80px 0;
}
.wk-wea-left, .wk-wea-right {
  flex: 1;
}
.wk-wea-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.wk-wea-left h1 {
  font-size: 48px;
  background: linear-gradient(90deg, #1FA2FF 0%, #12D8FA 50%, #A6FFCB 100%);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
}
.wk-wea-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}
.wk-buy-btn {
  font-size: 20px;
  padding: 15px 24px;
  height: auto;
  display: inline-block;
  align-items: center;
  color: #FFFFFF;
  border: solid 2px transparent;
  border-radius: 16px;
  max-width: 400px;
  background:
      linear-gradient( rgba(22, 26, 66, 1), rgba(22, 26, 66, 1)) padding-box,
      linear-gradient(90deg, #1FA2FF, #12D8FA, #A6FFCB ) border-box;
}
.wk-wea-left h2 {
  font-size: 28px;
  color: #FFFFFF;
}
.wk-wea-left p {
  color: #FFFFFF;
  font-size: 16px;
}
@media (max-width: 1280px) {
.wk-container-home {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wk-home {
  width: 100%;
}
.wk-banner-left {
  flex: 1.5;
}
.wk-left-btn .wk-con-btn,
.wk-left-btn .wk-watch-vids {
    width: auto;
}
}

@media (max-width: 1024px) {
.wk-watch-vd {
  width: 200px;
}
.wk-container-home {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.wk-home {
  width: 100%;
}
.wk-logo-top {
  padding-left: 24px;
}
.wk-task-item .wk-task-img {
  width: 400px;
  height: 325px;
}
.wk-task-content {
  width: 100%;
}
.wk-task-item {
  width: 400px;
}
.wk-task-title{
  height: auto;
  padding-bottom: 40px;
}
.wk-img-container {
  width: 400px;
  height: 325px;
  overflow: hidden;
  position: relative;
}
.wk-intro-list-top {
  flex: 1.5;
  padding-left: 24px;
  gap: 50px;
}
.wk-intro-item {
  width: 100%;
}
.wk-task-info p {
  width: auto;
}
.wk-banner-left {
  padding-left: 24px;
  line-height: 65px;
  height: auto;
  padding-top: 0;
}
.wk-intro-img {
  flex: 1;
  padding-right: 24px;
  display: flex;
  align-items: center;
}
.wk-com2-left h1 {
  padding-left: 20px;
}
.wk-communiti-2 {
  padding: 0 30px;
}
.wk-com2-left h1 {
  padding-left: 0;
}
.wk-com2-left p {
  padding-left: 0px;
}
.wk-com2-content {
  width: auto;
  height: auto;
}
.wk-con-btn-bot{
  padding: 20px 0;
}
.wk-wea-container {
  padding: 80px 24px;
}
.wk-footer-container {
  padding: 80px 24px 60px;
}
.wk-about-left {
  padding: 0;
  padding-left: 24px;
}
.wk-task-top {
  padding: 20px 20px;
}
.wk-task-bot {
  padding: 20px 20px;
}
}

@media (max-width: 820px) {
.wk-container-home {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wk-com1-content {
  padding: 0;
}
.wk-logo-top {
  padding: 0;
}
/* .wk-menu-list {
  display: none;
} */
.wk-banner-left {
  width: 50%;
  padding: 0 30px;
  height: 100%;
  align-items: center;
  gap: normal;
}
.wk-banner-left h1 {
  width: 100%;
  height: 100%;
  font-size: 36px;
  line-height: normal;
}
.wk-banner-left p {
  width: 100%;
  height: 100%;
  font-size: 16px;
  margin-bottom: 50px;
}
.wk-banner-right {
  display: block;
  width: 100%;
  padding: 20px;
  height: auto;
}
.wk-banner-right img {
  padding-top: 30px;
}
.wk-task-title {
  width: 70%;
  font-size: 30px;
  line-height: normal;
  height: 100px;
}
.wk-task-des {
  width: 100%;
  font-size: 16px;
  padding: 0 40px;
  height: 100%;
}
.wk-task-info h1 {
  width: 100%;
  font-size: 18px;
}
.wk-task-info p {
  width: 100%;
  font-size: 14px;
}
.wk-task-top {
  padding: 20px 20px;
}
.wk-task-bot {
  padding: 20px 20px;
}
.wk-about-left {
  padding-left: 30px;
}
.wk-com1-content h1 {
  font-size: 40px;
}
.wk-com1-num {
  font-size: 40px;
  line-height: 60px;
}
.wk-com1-title {
  font-size: 14px;
  line-height: 20px;
} 
.wk-about-left p {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
}

.wk-intro-list-top {
  padding: 20px 0;
}
.wk-intro-item {
  height: 228px;
}
.wk-intro-des h1 {
  height: 100%;
}
.wk-intro-des p {
  line-height: normal;
  font-size: 16px;
  height: 100%;
}
.wk-intro-list-bot {
  padding: 20px 0;
}
.wk-com2-content {
  display: block;
}
.wk-com2-left p {
  font-size: 16px;
  padding-left: 20px;
}
.wk-com2-left h1 {
  text-align: center;
}
.wk-footer-left {
  padding-right: 10px;
}
.wk-footer-right {
  display: block;
}
.wk-footer-logo {
  max-width: 80%;
}
.wk-footer-left h1 {
  font-size: 24px;
  padding: 36px 0 20px 20px;
}
.wk-quick-link {
  padding: 40px 0;
  gap: 10px;
}
.wk-quick-link a{
  padding-top: 0;
}
}

@media (max-width: 768px) {
.wk-container-home {
  max-width: 100%;
  margin: 0 auto;
}
.wk-con-us {
  font-size: 16px;
  padding: 15px 15px;
}
.wk-com1-item {
  padding: 0;
}
.wk-intro-img {
  display: flex;
  flex: 0.5;
  align-items: center;
  padding-right: 24px;
}
.wk-left-btn .wk-con-btn, .wk-left-btn .wk-watch-vids {
  width: 200px;
}
.wk-about-right {
  flex: 0;
}
.wk-about-right img {
  display: none;
}
.wk-logo-top {
  padding: 0 24px;
}
.wk-home {
  width: 100%;
  margin: 0 auto;
}
.wk-task-item {
  width: 50%;
}
.wk-img-container {
  width: auto;
  height: auto;
}
.wk-banner-left {
  padding: 0 24px;
  height: 100%;
  align-items: center;
  gap: normal;
}
.wk-banner-left h1 {
  width: 100%;
  height: 100%;
  font-size: 36px;
  line-height: normal;
}
.wk-banner-left p {
  width: 100%;
  height: 100%;
  font-size: 16px;
  margin-bottom: 50px;
}
.wk-banner-right {
  width: 100%;
  padding: 20px;
  display: block;
  height: auto;
}
.wk-wea-container {
  padding: 80px 24px;
}
.wk-wea-right {  display: flex;
  align-items: center;
}
.wk-left-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.wk-wea-left {
  flex: 1.5;
}
.wk-intro-content {
  padding: 80px 0;
}
.wk-intro-title{
  padding: 0;
  padding-bottom: 60px;
}
.wk-watch-vids {
  font-size: 14px;
}
.wk-task-title {
  width: auto;
  font-size: 30px;
}
.wk-task-des {
  width: 100%;
  font-size: 14px;
  padding: 0 40px;
  height: 100%;
}
.wk-task-info h1 {
  width: 100%;
  font-size: 18px;
}
.wk-task-info p {
  width: 100%;
  font-size: 14px;
}
.wk-about-left {
  padding: 0;
  padding-left: 24px;
}
.wk-com1-content h1 {
  font-size: 40px;
}
.wk-com1-num {
  font-size: 40px;
  line-height: 60px;
}
.wk-com1-title {
  font-size: 14px;
  line-height: 20px;
}
.wk-about-left p {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  margin-bottom: 20px;
}
.wk-intro-list-top {
  padding: 20px 0;
  gap: 50px;
  padding-left: 24px;
  flex: 1;
}
.wk-intro-item {
  height: 100%;
  width: 100%;
}
.wk-intro-des h1 {
  height: auto;
}
.wk-intro-des p {
  line-height: normal;
  font-size: 16px;
}
.wk-intro-list-bot {
  padding: 20px 0;
}
.wk-com2-content {
  display: block;
}
.wk-com2-left p {
  font-size: 16px;
  padding-left: 20px;
}
.wk-com2-left h1 {
  text-align: center;
}
.wk-footer-left {
  padding-right: 10px;
}
.wk-footer-right {
  display: block;
}
.wk-task-top {
  padding: 20px 24px;
  gap: 30px;
}
.wk-com2-left p {
  font-size: 16px;
  padding: 0 10px;
  text-align: center;
}
.wk-com2-left {
  align-items: center;
}
.wk-com2-right {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.wk-footer-container {
  background-color: rgba(6, 9, 32, 1);
  display: flex;
}
.wk-com1-content h1 {
  padding: 0 24px;
}
.wk-contact-img {
  max-width: 50%;
}
.wk-footer-contact img {
  margin: 0;
  max-width: 36px;
}
.wk-footer-left h1 {
  padding: 0;
  padding: 40px 0 20px 0;
}
.wk-footer-right {
  padding: 0;
  padding-right: 24px;
  padding-top: 60px;
}
.wk-footer-contact img {
  margin: 0;
  max-width: 36px;
}
.wk-footer-left {
  padding-right: 10px;
}
.wk-footer-right {
  display: block;
}
}
@media (max-width: 720px) {
.wk-container-home {
  max-width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wk-home {
  width: 100%;
}

}

@media (max-width: 576px) {
.wk-container-home {
  width: 100%;
  overflow-x: hidden;
}
.wk-home {
  width: 100%;
}
.wk-logo-top {
  width: 20px;
}
.wk-banner-top {
  width: auto;
}
}